*,
*::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-padding-top: 82px;
}

body {
  position: relative;
  background-color: #ebecf2;
}

h2 {
  text-align: center;
  text-transform: uppercase;
}

.underline {
  margin: 0 auto;
  width: 60px;
  height: 4px;
  background-color: royalblue;
}

.shadow-bg {
  background-color: rgba(0, 0, 0, 0.8);
  transition: background-color 0.4s;
}

nav {
  text-transform: uppercase;
  z-index: 1;
}

.nav-link {
  color: #fff;
}

.navbar .nav-link.active {
  color: royalblue;
}

.nav-link:hover {
  color: royalblue;
}

.fa-bars {
  color: #fff;
  padding: 10px;
}

.fa-headset {
  color: #fff;
}

.navbar-brand {
  color: #fff;
  font-weight: bold;
}

.games {
  color: royalblue;
}

header {
  color: #fff;
}
header h1 {
  text-transform: uppercase;
  font-size: 30px;
}
header p {
  font-size: 14px;
}
header .hero-img {
  position: relative;
  height: 100vh;
  background-size: cover;
  background-image: url("../img/game-console-g0467cdd02_640.jpg");
  background-position: center;
  background-attachment: fixed;
  z-index: 0;
}
header .hero-shadow {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: -1;
}
header .hero-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  z-index: 2;
  text-align: center;
  padding: 10px;
}
header .btn-outline-light {
  text-transform: uppercase;
}
header .fa-chevron-down {
  position: absolute;
  font-size: 30px;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
}

.aboutus i {
  margin-top: 20px;
  font-size: 30px;
}
.aboutus .aboutus-card-title {
  font-size: 18px;
  text-transform: uppercase;
}
.aboutus .aboutus-card-text {
  font-size: 14px;
}
.aboutus .aboutus-hover {
  transition: color 0.6s;
}
.aboutus .aboutus-hover:hover {
  color: royalblue;
  transition: color 0.6s;
}

.aboutus-hero {
  color: rgb(240, 232, 232);
  position: relative;
  background-size: cover;
  background-image: url("../img/technology-ga9f34ab4e_640.jpg");
  background-position: center;
  z-index: 0;
}
.aboutus-hero .aboutus-hero-shadow {
  top: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: -1;
}
.aboutus-hero i {
  margin-top: 20px;
  font-size: 30px;
}
.aboutus-hero .aboutus-hero-title {
  margin-top: 20px;
  font-size: 18px;
}
.aboutus-hero .aboutus-hero-text {
  font-size: 14px;
}
.aboutus-hero .aboutus-hover {
  transition: color 0.6s;
}
.aboutus-hero .aboutus-hover:hover {
  color: royalblue;
  transition: color 0.6s;
}

.portfolio h2 {
  color: black;
}
.portfolio .carousel-item {
  position: relative;
  height: 600px;
}
.portfolio .carousel-caption {
  position: absolute;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.7);
}
.portfolio .carousel-indicators {
  padding-bottom: 50px;
}

.prices .price-card {
  background-color: #fff;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
  padding: 30px;
  margin: 20px 10px;
  transition: transform 0.3s;
}
.prices .price-card h3 {
  color: royalblue;
  text-transform: uppercase;
}
.prices .price-card span {
  font-weight: bold;
}
.prices .price-card i {
  padding: 0 5px;
  font-size: 24px;
}
.prices .price-card button {
  padding: 10px 20px;
  text-transform: uppercase;
}
.prices .price-card:hover {
  transform: scale(1.05);
}
.prices a {
  text-decoration: none;
}

.team .team-img {
  position: relative;
  height: 85vh;
  background-size: cover;
  background-image: url("../img/office-space-g65eb2093c_1920.jpg");
  background-position: center;
  background-attachment: fixed;
  z-index: 0;
}
.team .team-shadow {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: -1;
}
.team h2 {
  color: rgb(240, 232, 232);
}
.team .card {
  transition: transform 0.3s;
}
.team .card img {
  height: 300px;
  -o-object-fit: cover;
     object-fit: cover;
}
.team .card h5 {
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 20px;
}
.team .card .card-body {
  height: 160px;
}
.team .card:hover {
  transform: scale(0.95);
}
.team a {
  text-decoration: none;
}
.team i {
  color: royalblue;
}

.achivements i {
  color: #fff;
  font-size: 48px;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.7);
}
.achivements h5 {
  margin: 15px;
}
.achivements p {
  text-transform: uppercase;
}

@media (min-width: 375px) {
  header h1 {
    font-size: 36px;
  }
  header p {
    font-size: 16px;
  }
}
@media (min-width: 768px) {
  header h1 {
    font-size: 42px;
  }
  header p {
    font-size: 20px;
  }
}
@media (min-width: 992px) {
  html {
    scroll-padding-top: 72px;
  }
  nav {
    height: 82px;
  }
  .aboutus-hero .hero-img {
    background-image: url("../img/technology-g618e5cf7a_1280.jpg");
  }
  .prices .price-info {
    font-size: 18px;
  }
}
@media (min-width: 1200px) {
  header .hero-img {
    background-image: url("../img/game-console-g6ea3d1145_1920.jpg");
  }
}/*# sourceMappingURL=style.css.map */