@import "colors";
*,
*::before,
::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
html {
	scroll-padding-top: 82px;
}

body {
	position: relative;
	background-color: $bg-color;
}
h2 {
	text-align: center;
	text-transform: uppercase;
}
.underline {
	margin: 0 auto;
	width: 60px;
	height: 4px;
	background-color: $main-color;
}
.shadow-bg {
	background-color: rgba(0, 0, 0, 0.8);
	transition: background-color 0.4s;
}
nav {
	text-transform: uppercase;
	z-index: 1;
}
.nav-link {
	color: $white;
}
.navbar {
	.nav-link.active {
		color: $main-color;
	}
}
.nav-link:hover {
	color: $main-color;
}
.fa-bars {
	color: $white;
	padding: 10px;
}
.fa-headset {
	color: $white;
}
.navbar-brand {
	color: $white;
	font-weight: bold;
}
.games {
	color: $main-color;
}
header {
	color: $white;

	h1 {
		text-transform: uppercase;
		font-size: 30px;
	}
	p {
		font-size: 14px;
	}
	.hero-img {
		position: relative;
		height: 100vh;
		background-size: cover;
		background-image: url("../img/game-console-g0467cdd02_640.jpg");
		background-position: center;
		background-attachment: fixed;
		z-index: 0;
	}
	.hero-shadow {
		position: absolute;
		width: 100%;
		height: 100%;
		background-color: rgba(0, 0, 0, 0.5);
		z-index: -1;
	}
	.hero-text {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		height: 100%;
		z-index: 2;
		text-align: center;
		padding: 10px;
	}
	.btn-outline-light {
		text-transform: uppercase;
	}
	.fa-chevron-down {
		position: absolute;
		font-size: 30px;
		bottom: 20px;
		left: 50%;
		transform: translateX(-50%);
	}
}

.aboutus {
	i {
		margin-top: 20px;
		font-size: 30px;
	}
	.aboutus-card-title {
		font-size: 18px;
		text-transform: uppercase;
	}
	.aboutus-card-text {
		font-size: 14px;
	}
	.aboutus-hover {
		transition: color 0.6s;
	}
	.aboutus-hover:hover {
		color: $main-color;
		transition: color 0.6s;
	}
}
.aboutus-hero {
	color: $second-text;
	position: relative;
	background-size: cover;
	background-image: url("../img/technology-ga9f34ab4e_640.jpg");
	background-position: center;

	z-index: 0;

	.aboutus-hero-shadow {
		top: 0;
		position: absolute;
		width: 100%;
		height: 100%;
		background-color: rgba(0, 0, 0, 0.5);
		z-index: -1;
	}
	i {
		margin-top: 20px;
		font-size: 30px;
	}
	.aboutus-hero-title {
		margin-top: 20px;
		font-size: 18px;
	}
	.aboutus-hero-text {
		font-size: 14px;
	}
	.aboutus-hover {
		transition: color 0.6s;
	}
	.aboutus-hover:hover {
		color: $main-color;
		transition: color 0.6s;
	}
}
.portfolio {
	h2 {
		color: black;
	}
	.carousel-item {
		position: relative;
		height: 600px;
	}
	.carousel-caption {
		position: absolute;
		left: 0;
		right: 0;
		background-color: rgba(0, 0, 0, 0.7);
	}
	.carousel-indicators {
		padding-bottom: 50px;
	}
}
.prices {
	.price-card {
		background-color: $white;
		box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
		padding: 30px;
		margin: 20px 10px;

		h3 {
			color: $main-color;
			text-transform: uppercase;
		}
		span {
			font-weight: bold;
		}
		i {
			padding: 0 5px;
			font-size: 24px;
		}
		button {
			padding: 10px 20px;
			text-transform: uppercase;
		}
		transition: transform 0.3s;
	}
	.price-card:hover {
		transform: scale(1.05);
	}
	a {
		text-decoration: none;
	}
}
.team {
	.team-img {
		position: relative;
		height: 85vh;
		background-size: cover;
		background-image: url("../img/office-space-g65eb2093c_1920.jpg");
		background-position: center;
		background-attachment: fixed;
		z-index: 0;
	}
	.team-shadow {
		position: absolute;
		width: 100%;
		height: 100%;
		background-color: rgba(0, 0, 0, 0.5);
		z-index: -1;
	}
	h2 {
		color: $second-text;
	}
	.card {
		img {
			height: 300px;

			object-fit: cover;
		}
		transition: transform 0.3s;
		h5 {
			text-align: center;
			text-transform: uppercase;
			margin-bottom: 20px;
		}
		.card-body {
			height: 160px;
		}
	}

	.card:hover {
		transform: scale(0.95);
	}
	a {
		text-decoration: none;
	}
	i {
		color: $main-color;
	}
}
.achivements {
	i {
		color: $white;
		font-size: 48px;
		text-shadow: 0 0 5px rgba(0, 0, 0, 0.7);
	}
	h5 {
		margin: 15px;
	}
	p {
		text-transform: uppercase;
	}
}
.contact {
	color: $white;
	position: relative;
	background-size: cover;
	background-image: url("../img/skyline-g8ce4e2959_1920.jpg");
	background-position: center;
	background-attachment: fixed;
	z-index: 0;
	.contact-shadow {
		position: absolute;
		width: 100%;
		height: 100%;
		background-color: rgba(0, 9, 27, 0.8);
		z-index: -1;
	}
	h5 {
		color: $white;
	}
	.contact-item{
		h3{
			text-transform: uppercase;
			margin-bottom: 15px;
		}
		a {
			color: $white;
			margin: 0 10px;
		}
		a:hover{
			color: $bg-color;
		}
	}
	.underline {
		background-color: $white;
	}
	.contact-us{
		align-items: center;
	}
}

@media (min-width: 375px) {
	header {
		h1 {
			font-size: 36px;
		}
		p {
			font-size: 16px;
		}
	}
}
@media (min-width: 768px) {
	header {
		h1 {
			font-size: 42px;
		}
		p {
			font-size: 20px;
		}
	}
}
@media (min-width: 992px) {
	html {
		scroll-padding-top: 72px;
	}
	nav {
		height: 82px;
	}
	.aboutus-hero {
		.hero-img {
			background-image: url("../img/technology-g618e5cf7a_1280.jpg");
		}
	}
	.prices {
		.price-info {
			font-size: 18px;
		}
	}
}
@media (min-width: 1200px) {
	header {
		.hero-img {
			background-image: url("../img/game-console-g6ea3d1145_1920.jpg");
		}
	}
}
